In [2]:
import pandas as pd

data = {
	"A": ["TeamA", "TeamB", "TeamB", "TeamC", "TeamA"],
	"B": [50, 40, 40, 30, 50],
	"C": [True, False, False, False, True]
}

df = pd.DataFrame(data)

display(df.drop_duplicates())

       A   B      C
0  TeamA  50   True
1  TeamB  40  False
3  TeamC  30  False

In [4]:
#Cross Validation
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold, cross_val_score

X, y = datasets.load_iris(return_X_y=True)

clf = DecisionTreeClassifier(random_state=42)

k_folds = KFold(n_splits = 5)

scores = cross_val_score(clf, X, y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [1.         1.         0.83333333 0.93333333 0.8       ]
Average CV Score:  0.9133333333333333
Number of CV Scores used in Average:  5