In [19]:
# importing libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [24]:
# Retrieving data
data = pd.read_csv('C:/Users/yug59/Downloads/archive(2)/ds.csv')

In [25]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
df3 = pd.DataFrame(ohe.fit_transform(data[["Gender"]]).toarray())
df3=pd.get_dummies(data[["Gender"]])
df_new=pd.concat([data['Emp ID'],data['First Name'],data['Last Name'],data['Salary'],df3],axis=1)
print(df_new)

    Emp ID First Name  Last Name  Salary  Gender_F  Gender_M
0   677509       Lois     Walker  168251         1         0
1   940761     Brenda   Robinson   51063         1         0
2   428945        Joe   Robinson   50155         0         1
3   408351      Diane      Evans  180294         1         0
4   193819   Benjamin    Russell  117642         0         1
5   499687    Patrick     Bailey   72305         0         1
6   539712      Nancy      Baker   98189         1         0
7   380086      Carol     Murphy   60918         1         0
8   477616    Frances      Young  121587         1         0
9   162402      Diana   Peterson   43010         1         0
10  231469      Ralph     Flores  118457         0         1
11  153989       Jack  Alexander   82965         0         1
12  386158    Melissa       King  166892         1         0
13  301576      Wayne     Watson   92758         0         1
14  441771     Cheryl      Scott   92220         1         0
15  528509      Paula       Diaz  152654         1         0
16  912990     Joshua    Stewart  184896         0         1
17  214352    Theresa        Lee  197537         1         0
18  890290      Julia      Scott  141518         1         0
19  622406     Thomas      Lewis   73862         0         1
20  979607      Carol    Edwards   93967         1         0
21  969580    Matthew     Turner   52237         0         1
22  426038       Joan    Stewart  111673         1         0
23  388642       Ruby     Rogers  160623         1         0
24  560455    Carolyn      Hayes   42005         1         0
25  477253       Anne    Russell  103160         1         0
26  263480     Daniel     Cooper  153790         0         1
27  683826      Roger    Roberts  129625         0         1
28  474599      Maria     Walker   48944         1         0